/* adds background image with linearGradient that covers the whole div */
#backGroundImages {
    display: flex;    
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../scp-images/landingPageImg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    }
  
    /* adds background color to my text */
.listBg{
   
    background:linear-gradient(rgb(249, 246, 249),white, rgb(240, 225, 240))
    
    }
h3{
     font-family: "Trirong", serif ;
}
h2{
    font-family: "Trirong", serif ;
    text-align: center;
}
 /* adds background linearGradient */
 body {
    background: linear-gradient(rgb(197, 247, 233), rgb(176, 170, 194), rgb(238, 232, 244), rgb(210, 197, 245), rgb(251, 234, 234));
 }

    
#modalBg{
    background:linear-gradient(white,rgb(232, 226, 249),white ,rgb(222, 216, 242),rgb(237, 252, 243)) 
}
.accordion-body{
    background:linear-gradient(rgb(241, 239, 247),rgb(253, 243, 243),white,rgb(227, 219, 247),white ,rgb(238, 234, 250),rgb(230, 255, 234))  

}
#bottomScreen{
    height:60vh;
}
#landingPageText{
    font-family: "Trirong", serif ;
    text-align: center;
    font-size: 4vw;
} 
p{
    font-size: larger;
    font-family: "Trirong", serif ;
}
li{
    font-size: large;
    font-family: "Trirong", serif ;
}
/* This section defines an animation for elements with the ID 'images'. */
#images{
    animation-name: images; /* Refers to the keyframes named 'images'. */
    animation-duration: 8s; /* The animation will take 8 seconds to complete. */
}

/* These keyframes define the 'images' animation sequence. */
@keyframes images{
    from{
        filter: blur(8px); /* The image starts out blurred. */
        -webkit-filter: blur(8px); /* For webkit browsers, the image starts out blurred. */
    }
    to{
        filter: blur(0px); /* The image becomes clear. */
        -webkit-filter: blur(0px); /* For webkit browsers, the image becomes clear. */
    }
}

/* This section styles elements with the ID 'alert'. */
#alert{
    font-size: xx-large; /* Sets the font size to 'xx-large'. */

    animation-name: alert; /* Refers to the keyframes named 'alert'. */
    animation-duration: 4s; /* The animation will take 4 seconds to complete. */
}

/* These keyframes define the 'alert' animation sequence. */
@keyframes alert{
    from{
        filter: blur(8px); /* The text starts out blurred. */
        -webkit-filter: blur(8px); /* For webkit browsers, the text starts out blurred. */
        font-size: xx-small; /* The font size starts out very small. */
    }
    to{
        filter: blur(0px); /* The text becomes clear. */
        -webkit-filter: blur(0px); /* For webkit browsers, the text becomes clear. */
    }
}

/* This section styles elements with the ID 'bottomDivScp-005'. */
#bottomDivScp-005{
    padding-bottom: 190px; /* Adds 190 pixels of padding to the bottom of the element. */
}
